.projects-section{
    min-height: 100vh;
    margin-top: 10vh;
    transition: all 1s ease;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 120;
    background-image: url('../../assets/projects_bg1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.project-title{
    padding-top: 10vh;
    padding-bottom: 5vh;
    color: aliceblue;
    font-size: 40px;
}