.test {
  margin: 0;
  height: 200vh;
}
/* .test-wrapper{
    width:80vw;
} */

.about-row{
  padding-top: 214vh;
}

.about-content{
  text-align: left;
  margin-top:50px
}

#image {
  object-fit: cover;
  position: fixed;
  left: 0;
  margin-top: -40%;
  height: 100vh;
  width: 100%;
  z-index: -1;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-play-state: paused;
  animation-iteration-count: 1;
  animation-fill-mode: both;
  animation-name: move;
  animation-delay: calc(var(--epoch) * -1s);
}

#image2 {
  object-fit: cover;
  position: fixed;
  margin-top: 40%;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: -1;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-play-state: paused;
  animation-iteration-count: 1;
  animation-fill-mode: both;
  animation-name: moveback;
  animation-delay: calc(var(--epoch) * -1s);
}

.profile-background{
  object-fit: cover;
  position: fixed;
  width: -webkit-fill-available;
  top:0;
  left:0;
}

.profile-container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-me{
  object-fit: cover;
  position: relative;
  width:-webkit-fill-available;
  top:0;
  left:0;
  /* scale:1.2; */
}

@media screen and (max-width: 1200px) {
  #image {
    margin-top: -50%;
  }
  #image2 {
    margin-top: 50%;
  }
  .profile-container{
    width: 100%;
  }
}

@media screen and (max-width: 992px) {
  #image {
    margin-top: -60%;
  }
  #image2 {
    margin-top: 60%;
  }
  .about-content{
    color:aliceblue;
  }
  .profile-container{
    width: 90%;
  }
}

@media screen and (max-width: 768px) {
  #image {
    margin-top: -80%;
  }
  #image2 {
    margin-top: 80%;
  }
  .profile-container{
    width: 150%;
  }
}

@media screen and (max-width: 576px) {
  #image {
    margin-top: -95%;
  }
  #image2 {
    margin-top: 90%;
  }

}

@-webkit-keyframes move {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(var(--maximum));
  }
}

@keyframes move {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(var(--maximum));
    margin-top: 0%;
  }
}

@keyframes moveback {
  0% {
    transform: translateY(var(--maximum));
  }
  100% {
    transform: translateY(0);
    margin-top: 0%;
  }
}
