body {
  min-height: 100vh;
  min-height: fill-available;
  min-height: -webkit-fill-available;
}
html {
  height: fill-available;
  height: -webkit-fill-available;
}

.App {
  text-align: center;

  min-height:300vh;
  height: -webkit-fill-available;
  font-family: 'Roboto Mono', monospace, 'Bungee', cursive, 'Press Start 2P', cursive;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.content{
  /* padding-top: 200vh; */
}
